<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>

<body>
    <% row.forEach(function(row){ %>

            <p>
                <%= row.S0027EventName %>
            </p>
            <p>
                <%= row.S0027EventCode %>
            </p>
            <p>
                <%= row.S0027Participants %>
            </p>
            <p>
                <%= row.S0027PNames%>
            </p>

            <p>
                <%= row.S0027EventType%>
            </p>

        <% }); %>
</body>

</html>